// node_modules/bootstrap/scss/_variables.scss

// Fonts
@font-face {
  font-family: Avenir;
  src:url(/fonts/avenir-reg.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family:Avenir Bold;
  src:url(/fonts/avenir-bold.woff2) format('woff2');
  font-display: swap;
}

$font-family-sans-serif:  "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight:    bold;

// Colors
$clr-dark:      #262D37;
$clr-darkish:   #414B59;
$clr-light:     #EFF1F4;
$clr-blueish:   #2BABAD;
$clr-black:     #000;

$dark:      $clr-dark;
$secondary: $clr-darkish;
$light:     $clr-light;
$primary:   $clr-blueish;

$border-width: 2px;

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
);

// Alerts
$alert-bg-level:      -11.5;
$alert-border-level:  -0;
$alert-padding-y:     1rem;

// Shadows
$box-shadow-sm: 0 0.125rem .35rem rgba($clr-black, .1);
$box-shadow:    0 .5rem 1rem rgba($clr-black, .15);
$box-shadow-lg: 0 1rem 3rem rgba($clr-black, .175);

// Custom CSS
.sidebar {
  font-size: 1.25rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";
